/* Main content styling */
.finance {
  background: #490e79;
  opacity: 0.7;
  padding-left: 10px;
}
.main {
  padding: 20px;
  background-color: #fff; /* White background for clarity */
  border-radius: 10px; /* Rounded corners for a modern look */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden; /* Ensures no overflow */
}

/* Styling for the income details table */
.income-details h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders between cells are merged */
  margin: auto;
}

thead {
  background-color: #6c7ae0; /* Soft blue background for the table header */
  color: white;
}

th,
td {
  text-align: left;
  padding: 12px 15px; /* Adequate padding for content inside cells */
  border-bottom: 1px solid #ddd; /* Light grey border for each row */
}

th {
  position: sticky;
  top: 0; /* Makes the header sticky */
}

tbody tr:hover {
  background-color: #f4f4f5; /* Light grey background on row hover for better visibility */
}

/* Total income display styling */
.total-income-display {
  text-align: right;
  padding: 10px 20px;
  background-color: #4caf50; /* Green background for total income display */
  color: white;
  font-size: 18px;
  border-radius: 0 0 10px 10px; /* Rounded corners at the bottom of the container */
  margin-top: 15px; /* Space above the total income display */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main {
    padding: 10px;
  }

  th,
  td {
    padding: 8px;
  }

  .income-details h2 {
    font-size: 16px;
  }

  .total-income-display {
    font-size: 16px;
  }
}
