*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond ;

}
.container-footer
{
    max-width: 1170px;
    
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    
}
ul
{
    list-style: none;
}
.footer
{
    background: #5e149b;
    opacity: 0.7;
    padding: 70px 0;;
}
.logo
{
    height: 110px;
    width: 110px;
}
.logo
{
    z-index: 1;
}

.footer-col
{
    width: 25%;
    padding: 0 10px;
}
.footer-col h4
{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer ul li a
{
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer ul li a:hover
{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a
{
    display: inline-block;
    height: 35px;
    width: 35px;
    background: rgba(255,255,255,0.2);
    margin: 0 15px 15px 0;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover
{
    color: #24262b;
    background-color: #fff;
}